{{ 'custom_banner.css' | asset_url | stylesheet_tag }}
<div class="slideshow-container">
  {% for banner in section.blocks %}
    {% if banner.settings.image != blank %}
      {% if banner.settings.link != blank %}
        <a href="{{ banner.settings.link }}">
      {% endif %}
      {{ banner.settings.image | image_url: width: 1000 | image_tag: class: 'mySlides' }}
      {% if banner.settings.link != blank %}
        </a>
      {% endif %}
    {% endif %}
    {% if banner.settings.video.media_type == 'video' %}
      {{
        banner.settings.video
        | video_tag: class: 'mySlides', image_size: '400px', autoplay: true, loop: true, muted: true, controls: true
      }}
    {% endif %}
  {% endfor %}
  <iframe
    class="mySlides"
    src="https://www.youtube.com/embed/668nUCeBHyY?si=5UpMNvC_aGvmWq36"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
<div id="countdown-container">
  <div id="timer_countdown">{{ section.settings.timer }}:00</div>
</div>
<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
  }

  document.addEventListener('DOMContentLoaded', function() {
    let duration = 5 * 60; // 5 minutes in seconds
    let display = document.getElementById('timer');
    let restartBtn = document.getElementById('restart-btn');
    let interval;

    function startTimer(duration, display) {
        let timer = duration, minutes, seconds;

        interval = setInterval(function() {
            minutes = Math.floor(timer / 60);
            seconds = timer % 60;

            minutes = minutes < 10 ? '0' + minutes : minutes;
            seconds = seconds < 10 ? '0' + seconds : seconds;

            display.textContent = minutes + ':' + seconds;

            if (--timer < 0) {
              clearInterval(interval);
              startTimer(duration, display);
            }
        }, 1000);
    }

    // Start the initial timer
    startTimer(duration, display);
});
</script>
