<ul>
  <h1>{{ linklists.blogs.title }}</h1>
  {% for link in linklists.blogs.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>
<ul>
  <h1>{{ linklists.company.title }}</h1>
  {% for link in linklists.company.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>
<ul>
  <h1>{{ linklists.product.title }}</h1>
  {% for link in linklists.product.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    }
  ]
}
{% endschema %}
