<style>
  .accordion__content {
    display: none;
    padding: 0 20px;
  }

  .accordion__btn {
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .accordion__btn.active, .accordion__btn:hover {
    background-color: #777;
  }
</style>
<div>
  <div class="accordion">
    <button class="accordion__btn">{{ linklists.blogs.title }}</button>
    <div class="accordion__content">
      <ul>
        {% for link in linklists.blogs.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <ul>
    <h1>{{ linklists.company.title }}</h1>
    {% for link in linklists.company.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul>
    <h1>{{ linklists.product.title }}</h1>
    {% for link in linklists.product.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
  {% if section.settings.footer_logo != blank %}
    {{ section.settings.footer_logo | image_url: width: 300 | image_tag }}
  {% endif %}
</div>

<script>
  const accordions = document.querySelectorAll('.accordion__btn');

  accordions.forEach(accordion => {
    accordion.addEventListener('click', () => {
      const panel = accordion.nextElementSibling;
      panel.style.display === 'block' ? panel.style.display = 'none' : panel.style.display = 'block';
      accordion.classList.toggle('active');
    });
  });
</script>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    }
  ]
}
{% endschema %}
