<div style="">
  <ul>
    <h1>{{ linklists.blogs.title }}</h1>
    {% for link in linklists.blogs.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul>
    <h1>{{ linklists.company.title }}</h1>
    {% for link in linklists.company.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul>
    <h1>{{ linklists.product.title }}</h1>
    {% for link in linklists.product.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
  {% if section.settings.footer_logo != blank %}
    {{ section.settings.footer_logo | image_url: width: 300 | image_tag }}
  {% endif %}
  <div class="footer__payment">
    <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
    <ul class="list list-payment" role="list">
      {%- for type in shop.enabled_payment_types -%}
        <li class="list-payment__item">
          {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    }
  ]
}
{% endschema %}
